{
  "printWidth": 120,
  "overrides": [
    {
      "files": ["**/*.{js,jsx,ts,tsx}"],
      "options": {
        "parser": "typescript",
        "singleQuote": true,
        "trailingComma": "none"
      }
    }
  ]
}
